

<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height:60px">
    <div>
      <div class="row" style="display:-webkit-inline-flex">
        <div  >
          <ion-button style="padding-top: 11px;" fill="clear"(click)="backToHome()" >
            <ion-icon color="light" name="arrow-back-outline" (click)="backToHome()"  slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <ion-searchbar #mainSearchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems()"
        placeholder="Search for Products"
      ></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <ion-list>
    <ion-item *ngFor="let item of items" (click)="openProductDetail(item.id,item.subCategoryId)">

      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
